body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100%;
}

.container {
    background-color: rgba(65, 255, 128, 0.9);
    margin-top: 0;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    border-radius: 5px;
}